.menu {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    position: relative;

}
.menu li {
    margin: 10px 40px; 
    
    font-size: 20px;   
}
.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 25px;
    font-family: Tahoma;
}

.menu a:hover {
    color: #6699ff;
    cursor: pointer;
}

.account { 
    position: absolute;
    right: 5%;
    top: 30px;
    
}
.account button { 
    height: fit-content;
    min-width: fit-content;
    width: 170px;
    text-overflow: ellipsis;
    background: #003294;
    color: #fff;
    font-size: 14px;
    padding: 3.5%;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    white-space: nowrap;
}

.logo { 
    position: absolute;
    top: 30px;
    width: 17px;
    list-style: none;
}

.logo button {  
    cursor: pointer;
    background: none;
    border: none;
    margin-left: 200px;
    font-size: 30px;
    font-weight: bold;
    color: #003294;
    
}
.slogan-background { 
  
}

.slogan {
    position: relative;
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-image: url('../img/home.png');
}
.slogan p { 
    position: absolute;
    display: inline-block;
    margin: 190px 90px;
    border: 2px solid #003294;
    background-color: white;
    height: 200px;
    width: 350px;
    border-radius: 30px;
    padding: 50px 50px;
}
.slogan p {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.slogan span {
    font-weight: bold;
    color: #003294;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #e8e8e8;
}

footer > div {
    padding: 2%;
    margin: 0 auto;
    display: block;
    align-content: center;
    margin-left: 50%;
}

footer button {
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 89, 255);
    color: white;
    font-weight: bold;
    margin-right: 10%;
    font-size: 16px;
    height: 30px;
    margin: 0 0 5px 5px;
}

footer button:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: rgb(0, 145, 255);
}